.Header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px 50px;
    align-items: center;
    background-color: brown;
}
.Header .logo{
    width: 130px;
    height: 40px;
}
.Header .menu{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}
.Header .menu .menu-link{
    margin: 15px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
.Header .social{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Header .social .social-link{
    margin: 15px;
    color: white;
}
/*
.menu .menu-link:hover{
    color: #fce38a;
    text-decoration: underline;
}
.menu .menu-link:active{
    font-size: 17px;
} */