body{
  margin: 0;
  /* background-color: rgba(241, 247, 251, 0.534); */
  /* background-image: url('./assets/images/big_snow.png'), url('./assets/images/snow.png'), url('./assets/images/snow_b.png');
  animation: snow 15s linear infinite; */
}

/* @keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  100% {
    background-position: -90px 900px, 400px 400px, 200px 200px;
  }
} */



/* 
#dex-sign {
  display: inline-block;
  margin: 30px 10px 15px 10px;
  width: 255px;
  height: 84px;
  background: url(http://drygiel.com/projects/sign/frames.png) no-repeat;
}
#dex-sign.play {
  animation: sign-anim 3.5s 0.2s steps(85) forwards;
}
@keyframes sign-anim {
  to {
    background-position: 0 -7140px;
  }
}
section #replay {
  position: absolute;
  z-index: 999;
  bottom: -65px;
  left: 50%;
  display: inline-block;
  padding: 10px;
  border: 1px solid #BABABA;
  text-transform: uppercase;
  text-decoration: none;
  transition: left 3s cubic-bezier(1, 0.01, 1, 0.01);
}
section #replay:hover {
  left: -100000%;
  transition: none;
}
section #replay:hover + .play {
  animation: none !important;
}
section .quote {
  position: absolute;
  left: 55%;
  right: 55%;
  top: 20%;
  padding: 30px 0 15px 0;
}
section .quote #dex-sign {
  position: absolute;
  right: 0;
} */